<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated domainmodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.sharedmobility.domainmodel.presentation.DomainmodelModelWizardID"
            name="%_UI_DomainmodelModelWizard_label"
            class="org.sharedmobility.domainmodel.presentation.DomainmodelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DomainmodelModelFile.gif">
         <description>%_UI_DomainmodelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated domainmodel -->
      <editor
            id="org.sharedmobility.domainmodel.presentation.DomainmodelEditorID"
            name="%_UI_DomainmodelEditor_label"
            icon="icons/full/obj16/DomainmodelModelFile.gif"
            extensions="domainmodel"
            class="org.sharedmobility.domainmodel.presentation.DomainmodelEditor"
            contributorClass="org.sharedmobility.domainmodel.presentation.DomainmodelActionBarContributor">
      </editor>
   </extension>

</plugin>
